{% extends "pages/base.html"%}
{% load static %}
{% block title %}Project {{project.id}}{%endblock%}
{% block content %}

    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  <h3 class="mb-5">Nhập mật khẩu để truy cập dự án</h3>
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <button type="submit">Submit</button> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% if error_message %}
                        <p>{{ error_message }}</p>
                    {% endif %}
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
{%endblock%}