{% extends "pages/base.html"%}
{% load static %}
{% block title %}Contact{%endblock%}
{% block content %}

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
        <span>
            <span>
                <a href="{% url 'home' %}">Trang chủ</a> » 
                    <span class="breadcrumb_last" aria-current="page">Liên hệ</span>
            </span>
        </span>    
    </div>
    <br>
      <div class="heading_container">
        <h2>
          Liên hệ với chúng tôi
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <div>
              <input type="text" name="name" placeholder="Name" />
            </div>
            <div>
              <input type="text" name="phone" placeholder="Phone Number" />
            </div>
            <div>
              <input type="email" name="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" name="message" class="message-box" placeholder="Message" />
            </div>
            <div class="d-flex ">
              <button>
                Gửi
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.4865221990576!2d106.66558945642367!3d10.965407130527419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d12d2dd9c7c9%3A0xc75d7d02dbdb15c3!2zxJBp4buHbiBs4buxYyBUaOG7pyBE4bqndSBN4buZdA!5e0!3m2!1svi!2s!4v1713928405918!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <style>
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      color: black; 
    }
  </style>
  
{%endblock%}