{% extends "pages/base.html"%}
{% load static %}
{% block title %}Forgot Password {%endblock%}
{% block content %}

  <!-- reset_password section -->
  <div class="container my-3 p-3">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="alert alert-info text-center"> <!-- Thêm lớp text-center ở đây -->
                    Mật khẩu của bạn đã được thiết lập.
                    <br>
                    <a href="{% url 'signin' %}">Đăng nhập tại đây</a>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- end reset_password section -->

{%endblock%}