{% extends "pages/base.html"%}
{% load static %}
{% block title %}Services{%endblock%}
{% block content %}

  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container ">
        <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
            <span>
                <span>
                    <a href="{% url 'home' %}">Trang chủ</a> » 
                        <span class="breadcrumb_last" aria-current="page">Dịch vụ</span>
                </span>
            </span>    
        </div>
        <br>
        <div class="heading_container heading_center">
            <h2>Các dịch vụ của chúng tôi</h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-3 d-flex justify-content-center">
              <div class="box">
                  <div class="img-box">
                      <img src="{% static 'images/s1.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                      <h5>LẮP ĐẶT, VẬN HÀNH VÀ BẢO TRÌ HỆ THỐNG ĐIỆN NĂNG LƯỢNG MẶT TRỜI (NHÀ THẦU EPC VỀ ĐIỆN NĂNG LƯỢNG MẶT TRỜI)</h5>
                      <!-- <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p> -->
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 d-flex justify-content-center">
              <div class="box">
                  <div class="img-box">
                      <img src="{% static 'images/s2.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                      <h5>THI CÔNG LẮP ĐẶT HỆ THỐNG ĐIỆN & NƯỚC (M&E) CÔNG TRÌNH DÂN DỤNG và CÔNG NGHIỆP</h5>
                      <!-- <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p> -->
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 d-flex justify-content-center">
              <div class="box">
                  <div class="img-box">
                      <img src="{% static 'images/s4.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                      <h5>KIỂM TOÁN NĂNG LƯỢNG – TRIỂN KHAI GIẢI PHÁP TIẾT KIỆM ĐIỆN</h5>
                      <!-- <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p> -->
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 d-flex justify-content-center">
              <div class="box">
                  <div class="img-box">
                      <img src="{% static 'images/s5.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                      <h5>IoT DÂN DỤNG và CÔNG NGHIỆP</h5>
                      <!-- <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p> -->
                  </div>
              </div>
          </div>
        </div>
        <br>
        <br>
        <div class="heading_container heading_center">
          <h2>TƯ VẤN CHUYÊN MÔN</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-3 d-flex justify-content-center">
              <div class="box">
                  <div class="img-box">
                      <img src="{% static 'images/s1.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                      <h5>TƯ VẤN HỆ THỐNG ĐIỆN</h5>
                      <p></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 d-flex justify-content-center">
              <div class="box">
                  <div class="img-box">
                      <img src="{% static 'images/s2.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                      <h5>GIÁM SÁT VÀ ĐO LƯỜNG TỪ XA</h5>
                      <p></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 d-flex justify-content-center">
              <div class="box">
                  <div class="img-box">
                      <img src="{% static 'images/s3.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                      <h5>SỬ DỤNG ĐIỆN HIỆU QUẢ</h5>
                      <p></p>
                  </div>
              </div>
          </div>
      </div>
        <div class="btn-box">
            <a href="#">Xem nhiều hơn</a>
        </div>
        <br>
        <br>
        <div class="heading_container heading_center">
            <h2>Đối tác của chúng tôi</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 text-center"> <!-- Sử dụng text-center để căn giữa theo chiều ngang -->
                <div class="img-box">
                    <img src="{% static 'images/doitac.jpg' %}" alt="" width="600" height="600">
                </div>
            </div>
        </div>
    </div>
  </section>

  <!-- end service section -->
  
{%endblock%}