{% extends "pages/base.html"%}
{% load static %}
{% block title %}Sign in{%endblock%}
{% block content %}
      <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <h3 class="font-weight-light my-4 text-center">Sign in</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_username">Username</label>
                                            <input type="text" name="username" autocomplete="username"
                                                   class="form-control" required id="id_username"
                                                   placeholder="Enter your username"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_password">Password</label>
                                            <input type="password" name="password" autocomplete="current-password"
                                                   required id="id_password" class="form-control"
                                                   placeholder="Enter your password"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group mt-0 mb-1">
                                            <button type="submit" class="col-md-12 btn btn-primary">Login</button>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <p class="text-center h6 fw-bold mb-5 mx-1 mx-md-4 mt-4"><a href="{% url 'password_reset' %}">Forget password</a></p>
                                <p class="text-center h6 fw-bold mb-5 mx-1 mx-md-4 mt-4">You don't have account? <a href="{% url 'signup' %}">Register</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}