{% extends "pages/base.html"%}
{% load static %}
{% block title %}Posts{%endblock%}
{% block content %}

   <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-10"> <!-- Thay đổi từ col-lg-6 thành col-lg-10 để tăng kích thước của container -->
        <section class="about_section layout_padding">
          <div class="container">
            <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
              <span>
                  <span>
                      <a href="{% url 'home' %}">Trang chủ</a> » 
                          <span class="breadcrumb_last" aria-current="page">Hỏi đáp</span>
                  </span>
              </span>    
          </div>
          <br>
          <form action="" method="GET">
            {% csrf_token %}
            <input type="text" placeholder="Search" name="keyword" value="{{ keyword }}" />
            <input type="submit" value="Search" />
          </form>
          <br>
            <div class="row">
              {% for post in Posts %}
              <div class="col-lg-4"> <!-- Chia mỗi bài post thành 1 col-lg-4 -->
                <div class="card mb-4">
                  <div class="card-body text-center">
                    <!-- <h5>Date: {{ post.date|date:"d-m-Y" }}</h5> -->
                    <img src="/media/{{post.image}}" class="card-img" width="400" height="280">
                    <h5 class="post-title"><a href="{% url 'post' post.id %}">{{ post.title }}</a></h5>  
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  
  <!-- end all project section -->

  <!-- Paginator Start -->
  <style>
    .pagination a {
        font-size: 22px; /* Điều chỉnh kích thước chữ cho các liên kết phân trang */
        margin: 0 5px; /* Điều chỉnh khoảng cách giữa các liên kết phân trang */
    }
    .current {
        font-size: 18px; /* Điều chỉnh kích thước chữ cho phần hiển thị số trang hiện tại */
    }
  </style>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <div class="pagination">
                <span class="step-links">
                    {% if Posts.has_previous %}
                    <a href="?page={{ Posts.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ Posts.number }} of {{ Posts.paginator.num_pages }}.
                    </span>
                    {% if Posts.has_next %}
                    <a href="?page={{ Posts.next_page_number }}">Next</a>
                    {% endif %}
                </span>
            </div>
        </li>
    </ul>
  </nav>
    <!-- Paginator End -->
{%endblock%}