{% extends "pages/base.html"%}
{% load static %}
{% block title %}Customers{%endblock%}
{% block content %}

  <!-- Customers section -->
  
  <div style="width: 70%; margin: 0 auto;">
    <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">STT</th>
              <th scope="col">Tên</th>
              <th scope="col">Địa chỉ</th>
              <th scope="col">Thông tin liên lạc</th>
          </tr>
      </thead>
      <tbody>
          {% for customer in Customers %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ customer.name }}</td>
              <td>{{ customer.locations }}</td>
              <td>{{ customer.contact }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>

  <!-- end Customers section -->

{%endblock%}