{% extends "pages/base.html"%}
{% load static %}
{% block title %}About{%endblock%}
{% block content %}

  <!-- about section -->

  <!-- <section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
        <span>
            <span>
                <a href="{% url 'home' %}">Trang chủ</a> » 
                    <span class="breadcrumb_last" aria-current="page">Khách hàng</span>
            </span>
        </span>    
    </div>
    <br>
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="detail-box">
            <h2>
              CÔNG TY TNHH KỸ THUẬT NĂNG LƯỢNG XANH VĨNH CỬU
            </h2>
            <p>
              Công ty TNHH Kỹ Thuật Năng Lượng Xanh Vĩnh Cửu là một doanh nghiệp hoạt động trong lĩnh vực công nghệ và kỹ thuật năng lượng xanh. Chúng tôi cam kết cung cấp các giải pháp hiệu quả và bền vững về năng lượng, nhằm đóng góp vào sự phát triển bền vững của xã hội và môi trường. <br>
              Với đội ngũ nhân viên giàu kinh nghiệm và trình độ chuyên môn cao, chúng tôi không ngừng nỗ lực nghiên cứu, phát triển và ứng dụng các công nghệ mới nhất trong lĩnh vực năng lượng xanh. Chúng tôi tự hào về khả năng cung cấp các dịch vụ và sản phẩm chất lượng, đáp ứng được nhu cầu đa dạng của khách hàng. <br>
            </p>
            <a href="">
              Xem nhiều hơn
            </a>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="img-box">
            <img src="{% static 'images/setup.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
  <div style="width: 70%; margin: 0 auto;">
    <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">STT</th>
              <th scope="col">Tên</th>
              <th scope="col">Địa chỉ</th>
              <th scope="col">Thông tin liên lạc</th>
          </tr>
      </thead>
      <tbody>
          {% for customer in Customers %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ customer.name }}</td>
              <td>{{ customer.locations }}</td>
              <td>{{ customer.contact }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>

  <!-- end about section -->

{%endblock%}